    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <style>
            table{
                border-collapse:collapse;
            }
            table,th, td{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <%- content %>
        <hr>
        <table>
            <tr>
                <th>编号</th>
                <th>产品名称</th>
                <th>单价</th>
                <th>数量</th>
            </tr>
            <% for(var i = 0 ; i < product.length ; i++) {%>
                <tr>
                    <td><%= product[i].id%></td>
                    <td><%= product[i].name%></td>
                    <td><%= product[i].price%></td>
                    <td><%= product[i].sum%></td>
                </tr>
            <% } %>
        </table>
    </body>
    </html>